/* General appearance */
body {
    font-family: "Roboto", sans-serif;
    color: green;
    background-color: black;
    margin: 0;
}

h1 {
    color: green;
    font-family: "Montserrat", sans-serif;
}

p {
    color: green;
    margin-left: 20px;
}


/* Container: page_container */
#page_container {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
}


/* Header / Logo / Navbar */
header {
    background-color: #1d1d1d;
    font-family: Andale Mono, monospace;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 25%;
    transition: all ease-in-out 150ms;
}

.logo:hover {
    border-color: green;
    box-shadow: 0 0 2px 1px greenyellow;
}

.top_nav {
    overflow: hidden;
    vertical-align: middle;
}

.top_nav ul {
    overflow: hidden;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top_nav ul li {
    display: inline-block;
    padding-top: 23px;
    position: relative;
}

.top_nav a {
    float: right;
    color: green;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 35px;
    transition: all ease-in-out 175ms;
}

.top_nav a.active {
    color: green;
    font-weight: bold;
}

.top_nav a:hover {
    color: white;
}

.top_nav a::before {
    content: '';
    display: block;
    background-color: green;
    position: absolute;
    top: 0;
    height: 5px;
    width: 0%;
    transition: all ease-in-out 175ms;
}

.top_nav a:hover::before {
    width: 100%;
}


/* Container: top_splitter */
#top_splitter {
    padding-top: 10px;
}


/* Container: content_wrap  */
#content_wrap {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#content_wrap a {
    text-decoration: none;
}


/* Container: footer */
.footer_container {
    background-color: #1d1d1d;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer {
    margin-left: auto;
    margin-right: auto;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.footer_copyright {
    text-align: left;
}

.footer_links {
    text-align: right;
}

.footer_links ul {
    display: inline-block;
    list-style: none;
}

.footer_links a {
    text-decoration: none;
}

/* Table: request_log */
#request_log {
    width: 90%;
    color: green;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
}

#request_log caption {
    border: 1px green;
    padding: 8px;
}

#request_log td, #request_log th {
    border: 1px solid green;
    padding: 8px;
}

#request_log td {
    text-overflow: ellipsis;
    overflow: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#request_log tr:nth-child(even) {
    background-color: #1d1d1d;
}

#request_log tr:hover {
    background-color: #22003a
}

#request_log th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #22003a;
    color: white;
}

#request_log th:hover {
    color: green;
    cursor: pointer;
}

/* Pagination container */
#pagination-container {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

/* Page buttons */
#pagination-container button {
    width: 100px;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: green;
    color: #fff;
    border: #22003a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pagination-container button:hover {
    background-color: #22003a;
}

/* Disabled page button (i.e. the page the user is currently on) */
#pagination-container button:disabled {
    background-color: #1d1d1d;
    cursor: not-allowed;
}