{% extends "base.html" %}

{% block title %}
    alrobison.com
{% endblock %}

{% block top_nav %}
    <li>
        <a class="active" href="/">Home</a>
    </li>
    <li>
        <a href="/request_log">Request Log</a>
    </li>
{% endblock %}

{% block content %}
    <div id="title">
        <center>
            <h1>Creepy, Crawly Bots</h1>
        </center>
    </div>
    <div id="body">
        <center>
            <p>
                Over my meager amount of time spent tinkering with web design, I've noticed an alarming<br>
                With another line.
            </p>
        </center>
    </div>
{% endblock %}