{% extends "base.html" %}

{% block title %}
    alrobison.com
{% endblock %}

{% block top_nav %}
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a class="active" href="/scoreboard">Requests</a>
    </li>
{% endblock %}

{% block content %}
    <center>
        <h1>Here is a scoreboard for everyone who has visited this site!</h1>
    </center>
    <div>
        <table id="scoreboard">
            <caption>
                <h2>Requests Scoreboard</h2>
            </caption>

            <thead>
                <tr>
                    <th style="text-align: center" onclick="sortColumn('count')">Count</th>
                    <th style="text-align: center">IP</th>
                    <th style="text-align: center">Location</th>
                    <th style="text-align: center">Method</th>
                    <th style="text-align: center">Agent</th>
                </tr>
            </thead>

            <tbody id="scoreboardTableBody"></tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts/getScoreboardData.js') }}"></script>
{% endblock %}